
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}



p {
	font-size: 14px;
	font-weight: 100;

	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.input-field{
    max-width: 280px;
    width: 100%;
    height: 40px;
    background-color: aliceblue;
    margin: 10px 0;
    border-radius: 70px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
}
.input-field i{
    text-align: center;
	height: 30px;
    line-height: 40px;
    color: #acacac;
    font-size: 0.8rem;
}
.input-field input{
    background: aliceblue;
    outline:none ;
    border:none;
	position:relative;
	line-height: 35px;
	height:23px ;
    font-weight: 600;
    font-size: 0.8rem;
    color: #333;

}
.input-field input::placeholder-shown{
    color: #aaa;
    font-weight: 500;
    
}
.input-field input::placeholder{
	font-size: 15px;
	margin-bottom:10px;
	
}

button {
	border-radius: 20px;
	border: 1px solid #20dbc2;
	background-color: #20dbc2;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
    position: relative;
    top: 8%;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
button:hover {
    background-color: #12adb8;
    box-shadow: 0px 15px 20px rgba(1, 15, 5, 0.4);
    color: rgb(255, 255, 255);
    transform: translateY(-7px);
  }


button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	
}
.admin{
	margin-top: 150px;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    left: 5cm;
    bottom: 15%;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #20dbc2;
	background: -webkit-linear-gradient(to right,#2376b9, #20dbc2);
	background: linear-gradient(to right,#2376b9, #20dbc2 );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}
.animation{
    position: relative;
    
    right: 30%;
    top: 33%;
    
 
}
.buttonadmin {
    position: fixed;
    top: 10px;
    right: 10px;
	background: none;
	border: none;
	box-shadow: none;
	transform-style: none;
	border-radius: 50%;
}
.buttonadmin:hover {
    background-color: #fff;
    color: rgb(255, 255, 255);
    transform: translateY(-7px);
	box-shadow: none;
  }